body{
    background-color: hsl(0, 0%, 98%) !important;
    
}

.container{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.main-head{
    text-align: center;
    margin-top: 5rem;
    font-weight: 300;
    font-size: x-large;
}

.sub-head{
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    margin-top: -15px;
}

.middle{
    text-align: center;
    font-weight: 200;
    font-size: small;
}

.supervisor{
    margin-top: 10%;    
}


.head{
    font-weight: 600;
}


.calculator{
    margin-top: 10%;    
}



.text {
    font-weight: 200;
}