body{
    background-color: hsl(0, 0%, 98%) !important;
    
}

.container{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.main-head{
    text-align: center;
    margin-top: 5rem;
    font-weight: 300;
    font-size: x-large;
}

.sub-head{
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    margin-top: -15px;
}

.middle{
    text-align: center;
    font-weight: 200;
    font-size: small;
}

.supervisor{
    
    margin-top: 10%;    
}

.sub-super{
    border-top: hsl(212, 86%, 64%) 5px solid;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.sub-team{
    border-top: hsl(0, 78%, 62%) 5px solid;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.sub-karma{
    border-top: hsl(34, 97%, 64%) 5px solid;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.sub-cal{
    border-top: hsl(212, 86%, 64%) 5px solid;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}


.head{
    font-weight: 600;
}


.calculator{
    margin-top: 10%;    
}



.text {
    font-weight: 200;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
